*{
    padding: 0;
    margin: 0;
}
.container {
    margin: 20px auto;
    max-width: 800px;
}


input[type="text"]{
    margin-bottom: 10px;
    width: 450px;
    height: 30px ;
    text-align: center;
}
button {
    margin-bottom: 10px;
    padding: 8px;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
}

th {
    background-color: #8997a0;
}
button:hover{
    background-color: rgb(14, 14, 13);
    color: aliceblue;
}